{% extends 'layout.html' %}

{% block head %}
    <!-- Will change the title here for login and sign up page -->
    <title>Authenticate</title>

    {{ super() }}

{% endblock %}

{% block content %}
    <h2>Authenticate</h2>

    <form action="{{ form_url }}" method="POST">
        {{ form.csrf_token }} <!-- Magic security token -->

        <div class="form-field">
            <div class="error">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {{ form.username.label}}
            {{ form.username }}
        </div>

        <div class="form-field">
            <div class="error">
                {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {{ form.password.label}}
            {{ form.password }}
        </div>

        {{ form.submit }}
    </form>
{% endblock %}