{% extends "layout.html" %}

{% block content %}

<div class="content">
    <h2>Browse Games</h2>

    <!-- This stuff hasn't been styled properly, feel free to move stuff around if you like. -->

    <div class="search-section">
        <h3>Search for a game:</h3>
        {% include "search.html" %}
    </div>

    <div class="sort-by-section">
        <h3>Sort games by:</h3>
        <label>Sort by: </label>
        <a href="{{ url_for('games_bp.browse_games_with_options', subpath='title/'+cur_tag_path) }}"><div>Title</div></a>
        <a href="{{ url_for('games_bp.browse_games_with_options', subpath='popular/'+cur_tag_path) }}"><div>Popular</div></a>
        <a href="{{ url_for('games_bp.browse_games_with_options', subpath='price/'+cur_tag_path) }}"><div>Price</div></a>
        <a href="{{ url_for('games_bp.browse_games_with_options', subpath='recent/'+cur_tag_path) }}"><div>Recent</div></a>
    </div>

    <div class="tag-filter-section">
        <h3>Filter by tags:</h3>
        <form class="tag-filter" action="{{ url_for('games_bp.browse_games_read_form', subpath=cur_subpath, search=cur_search) }}" method="POST">
            <label>Select a tag:</label>
            {% for tag in random_tags %}
            <label><input type="checkbox" name="tag-{{tag}}" value="{{ tag }}"><span>{{ tag }}</span></label>
            {% endfor %}<br>

            <label>Search all tags:</label>
            <select name="tag-dropdown" id="tag-dropdown">
                <option value="null-selection">Select a tag</option>
                {% for tag in  all_tags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select><br>

            <input type="submit" value="Add tags">
            <a href="{{ url_for('games_bp.browse_games_with_options', subpath=cur_sort, search=cur_search) }}"><div class="clear-tags-button">Clear selected tags</div></a>
        </form>
    </div>
    
</div>

<div class="content">
    <h3>Tags:</h3>
    <div class="tag-selection">
        {% if cur_tags %}
            {% for tag in cur_tags %}
            <div class="tag-puck">{{ tag }}</div>
            {% endfor %}
        {% else %}
            Use the options above to refine your search.
        {% endif %}
    </div>
</div>

<h1>Total Games - {{ num_games }}</h1>

<!-- Games table layout -->
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>RELEASE DATE</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.game_id }}</td>
            <td><a href="{{ url_for('game_bp.game_view', game_id=game.game_id) }}">{{ game.title }}</a></td>
            <td>{{ game.game_url }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
