<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="img/logo.png" alt="Logo">
                    <span class="nav-item">Team Socks</span>
                </a>
            </li>
            <li><a href="{{ url_for('home') }}">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Home</span>
                </a></li>
            <li><a href="{{ url_for('games_bp.browse_games') }}">
                    <i class="fas fa-gamepad"></i>
                    <span class="nav-item">Games</span>
                </a></li>
            <li><a href="#">
                    <i class="fas fa-star"></i>
                    <span class="nav-item">Reviews</span>
                </a></li>
            <li><a href="#">
                    <i class="fas fa-users"></i>
                    <span class="nav-item">Meet our team</span>
                </a></li>
            <li><a href="#">
                    <i class="fas fa-question-circle"></i>
                    <span class="nav-item">Help</span>
                </a></li>
            <li><a href="#" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Log out</span>
                </a></li>
        </ul>
    </nav>

    <div id="nav-offset">
        <header class="site-header">
            <h1>{{ heading }}</h1>
        </header>

        {% block content %}
        <div class="content" style="width: fit-content; text-align: center">
            <h2>Uh oh</h2>
            <p>
                well this is embarrassing, you aren't supposed to see this.<br>
                Please contact the site administrator to let them know what happened.<br>
                <a href="{{ url_for('home') }}">Click here to go back to the home page</a>
            </p>
        </div>
        {% endblock %}

        <footer>
            <p>&copy; 2023 Team Socks. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>
