{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
    <title>CS235</title>
{% endblock %}


{% block heading %}
<section class="hero">
    <div class="main-top">
        <p>{{ heading  }}</p>
    </div>
    <img class="background-wallpaper" src="{{ url_for('static', filename='img/wallpaper.jpg') }}" alt="Game themed wallpaper">
    <div class="hero-content">
        <img src="{{ url_for('static', filename='img/hero.png') }}" alt="Hero Image" class="hero-image">
        <h1>Read About Games that you enjoy</h1>
        <!-- <div class="search-container">
            <input type="search" placeholder="Search game title or reviewer...">
            <select name="search-type" id="search-type">
                <option value="game-title">Game Title</option>
                <option value="reviewer">Reviewer</option>
            </select>
            <button type="submit"><i class="fas fa-search"></i> Search</button>
        </div> -->
        {% include "search.html" %}
    </div>
</section>  
{% endblock %}


{% block content %}
    <h1>Recent Game Reviews</h1>

    <div class="row">
        <p>There are more than <span>150</span> Game Reviews</p>
        <a href="#">See all</a>
    </div>

    <div class="game_card">
        <div class="game_details">
            <div class="img">
                <i class="fab fa-steam"></i>
            </div>
            <div class="text">
                <h2>Game Title Here</h2>
                <span>Review by <strong>Reviewer Name</strong></span>
            </div>
        </div>
        <div class="game_score">
            <h4>8.5/10</h4>
            <span>2 days ago</span>
        </div>
    </div>
    <div class="game_card">
      <div class="game_details">
          <div class="img">
              <i class="fab fa-steam"></i>
          </div>
          <div class="text">
              <h2>Game Title Here</h2>
              <span>Review by <strong>Reviewer Name</strong></span>
          </div>
      </div>
      <div class="game_score">
          <h4>8.5/10</h4>
          <span>2 days ago</span>
      </div>
  </div>
  <div class="game_card">
    <div class="game_details">
        <div class="img">
            <i class="fab fa-steam"></i>
        </div>
        <div class="text">
            <h2>Game Title Here</h2>
            <span>Review by <strong>Reviewer Name</strong></span>
        </div>
    </div>
    <div class="game_score">
        <h4>8.5/10</h4>
        <span>2 days ago</span>
    </div>
</div>
{% endblock %}
