{% extends "layout.html" %}

{% block content %}
<h1>Our Game Web App Website</h1>
<h3>Welcome!</h3>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum aperiam repudiandae dolores accusamus, sint iusto magnam, qui suscipit, mollitia eligendi sapiente possimus. Ipsam aspernatur atque sapiente officiis fugiat esse eos dolores consequatur ab ducimus totam ipsa quae exercitationem, minima iure voluptas officia. Consequatur deleniti quod ad, molestias, quasi nostrum, aspernatur nesciunt earum porro doloribus dicta excepturi delectus. Ipsam quas culpa temporibus aliquid fuga eaque perspiciatis id libero. Harum, pariatur consectetur illum tenetur, quia dolore corrupti similique accusamus aut quaerat illo animi iusto? Repellat voluptatibus ipsum illum neque excepturi tempore! Commodi neque delectus velit labore reiciendis, quam ex? Dolorem, accusamus amet!
{% endblock %}
