{% extends "layout.html" %}

{% block content %}
    <h1>Recent Game Reviews</h1>

    <div class="row">
        <p>There are more than <span>150</span> Game Reviews</p>
        <a href="#">See all</a>
    </div>

    <div class="game_card">
        <div class="game_details">
            <div class="img">
                <i class="fab fa-steam"></i>
            </div>
            <div class="text">
                <h2>Game Title Here</h2>
                <span>Review by <strong>Reviewer Name</strong></span>
            </div>
        </div>
        <div class="game_score">
            <h4>8.5/10</h4>
            <span>2 days ago</span>
        </div>
    </div>
    <div class="game_card">
      <div class="game_details">
          <div class="img">
              <i class="fab fa-steam"></i>
          </div>
          <div class="text">
              <h2>Game Title Here</h2>
              <span>Review by <strong>Reviewer Name</strong></span>
          </div>
      </div>
      <div class="game_score">
          <h4>8.5/10</h4>
          <span>2 days ago</span>
      </div>
  </div>
  <div class="game_card">
    <div class="game_details">
        <div class="img">
            <i class="fab fa-steam"></i>
        </div>
        <div class="text">
            <h2>Game Title Here</h2>
            <span>Review by <strong>Reviewer Name</strong></span>
        </div>
    </div>
    <div class="game_score">
        <h4>8.5/10</h4>
        <span>2 days ago</span>
    </div>
</div>
{% endblock %}
