{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='javascript/scripts.js') }}"></script>
    <title>CS235</title>
{% endblock %}

{% block heading %}
    <section class="profile-banner">
        <img id="banner-image" src="{{ url_for('static', filename='img/placeholderbanner.jpg') }}" alt="Profile Banner">
        <button class="edit-banner-button" onclick="openImageUpload()">Edit Banner</button>
        <input type="file" id="image-upload" style="display: none;" accept="image/*" onchange="displayImage(this)">
    </section>
{% endblock %}


{% block content %}
    <h1 class="main-h1">Welcome</h1>

    This website is home to a large catalogue of games and reviews. You can search for games by title, genre, or tags. There's lots of details about the games and reviews, so you can find the perfect game for you. The story behind "Team Socks" is that in the team-building lecture, there was the question "What cool pairs of socks do you own?", and the website is built around the idea that every game has something unique to it and a special story to tell. This is a COMPSCI 235 Project by <a href="https://github.com/Uni-tato" target="_blank">Alex</a>, <a href="https://github.com/Hamsu-dev" target="_blank">Sam</a> and <a href="https://github.com/histefanhere" target="_blank">Stefan</a>.

    <h1 class="main-h1">Recent Game Reviews</h1>

    <div class="row">
        <p>There are more than <span>150</span> Game Reviews</p>
        <a href="#">See all</a>
    </div>

    <div class="game_card">
        <div class="game_details">
            <div class="img">
                <i class="fab fa-steam"></i>
            </div>
            <div class="text">
                <h2>Game Title Here</h2>
                <span>Review by <strong>Reviewer Name</strong></span>
            </div>
        </div>
        <div class="game_score">
            <h4>8.5/10</h4>
            <span>2 days ago</span>
        </div>
    </div>

    <div class="game_card">
        <div class="game_details">
            <div class="img">
                <i class="fab fa-steam"></i>
            </div>
            <div class="text">
                <h2>Game Title Here</h2>
                <span>Review by <strong>Reviewer Name</strong></span>
            </div>
        </div>
        <div class="game_score">
            <h4>8.5/10</h4>
            <span>2 days ago</span>
        </div>
    </div>

    <div class="game_card">
        <div class="game_details">
            <div class="img">
                <i class="fab fa-steam"></i>
            </div>
            <div class="text">
                <h2>Game Title Here</h2>
                <span>Review by <strong>Reviewer Name</strong></span>
            </div>
        </div>
        <div class="game_score">
            <h4>8.5/10</h4>
            <span>2 days ago</span>
        </div>
    </div>
{% endblock %}
