/* Browse page */

.tag-filter input[type="checkbox"] {
    display: none;
}

.tag-filter span {
    display: inline-block;
    padding: 4px;
    border: 1px solid var(--col-border);
    border-radius: 0.5em;
    margin: 4px;
    cursor: pointer;
    color: var(--col-text-faded);
    box-shadow: 2px 2px 1px 0px var(--col-shadow);
}

.tag-filter span:hover {
    background-color: var(--col-bg-highlight);
    color: var(--col-text);
}

.tag-filter input[type="checkbox"]:checked+span {
    background-color: var(--col-bg-selected);
    color: var(--col-text);
}

.button {
    display: inline-block;
    padding: 4px;
    border: 1px solid var(--col-border);
    border-radius: 0.5em;
    margin: 4px;
    color: var(--col-text);
    box-shadow: 2px 2px 1px 0px var(--col-shadow);
    background-color: var(--col-bg-selected);
    cursor: pointer;
}

.button:hover {
    background-color: var(--col-bg-highlight);
    color: var(--col-text);
}