:root {
    --col-info-chip: #17a7fa;
    --col-info-chip-text: #ffffff;
    --col-info-chip-border: #006caa;
}

.info-chip {
    display: inline-block;
    padding: 0.1em 1em 0.1em 1em;
    border: 2px solid var(--col-info-chip-border);
    border-radius: 1em;
    margin: 4px;
    color: var(--col-info-chip-text);
    box-shadow: 2px 2px 1px 0px var(--col-shadow);
    background-color: var(--col-info-chip);
}