@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd, table, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f2e2d2;
    color: #5a5a5a;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #a89f91;
    width: 70px;
    overflow: visible;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px var(--col-shadow);
    height: 100vh;
    padding-right: 25px;
}

nav:hover {
    width: 250px;
}

nav:hover .nav-item {
    visibility: visible;
}

nav:hover .logo span {
    visibility: visible;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
    font-family: 'Press Start 2P', cursive;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s;
    margin-right: 15px;
    align-items: center;
}

nav:hover .nav-item {
    opacity: 1;
}

nav a {
    position: relative;
    color: #f2e2d2;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    /* width: calc(100% - 20px); */
    width: 230px;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
}

nav a:hover {
    background: #8c8279;
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 0;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.logo span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    visibility: hidden;
    font-family: 'Press Start 2P', cursive;
}

div#nav-offset {
    margin-left: 90px;
    height: 100vh;
}

header {
    background: #f2e2d2;
    padding: 20px 20px;
    text-align: center;
    color: #5a5a5a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.content {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #f2e2d2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    width: fit-content;
    text-align: center;
}

.fas {
    position: relative;
    width: 50px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: #f2e2d2;
    margin-right: 10px;
}

.logout {
    position: relative;
    bottom: 0;
}

footer {
    background-color: #f2e2d2;
    padding: 40px 0;
    text-align: center;
    color: #5a5a5a;
    margin-top: 40px;
    box-shadow: 0 -4px 8px var(--col-shadow);
}

footer p {
    font-size: 14px;
}
