@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {

    /* These colours are really not doing it for me. */
    --col-shadow: rgba(0, 0, 0, 0.05);
    --col-border: #3a3a3a;

    --col-bg-light: #f2e2d2;
    --col-bg-dark: #a89f91;
    --col-bg-highlight: #8c8279;
    --col-bg-selected: #f5e4d5;

    --col-text-faded: #5a5a5a;
    --col-text: #000;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd, table, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--col-bg-light);
    color: var(--col-text-faded);
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--col-bg-dark);
    width: 70px;
    overflow: visible;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px var(--col-shadow);
    height: 100vh;
    padding-right: 25px;
}

nav:hover {
    width: 250px;
}

nav:hover .nav-item {
    visibility: visible;
}

nav:hover .logo span {
    visibility: visible;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
    font-family: 'Press Start 2P', cursive;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s;
    margin-right: 15px;
    align-items: center;
}

nav:hover .nav-item {
    opacity: 1;
}

nav a {
    position: relative;
    color: var(--col-bg-light);
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    /* width: calc(100% - 20px); */
    width: 230px;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
}

nav a:hover {
    background: var(--col-bg-highlight);
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 0;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.logo span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    visibility: hidden;
    font-family: 'Press Start 2P', cursive;
}

div#nav-offset {
    margin-left: 90px;
    height: 100vh;
}

header {
    background: var(--col-bg-light);
    padding: 20px 20px;
    text-align: center;
    color: var(--col-text-faded);
    box-shadow: 0 4px 8px var(--col-shadow);
}

.content {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: var(--col-bg-light);
    box-shadow: 0 4px 8px var(--col-shadow);
    width: fit-content;
    text-align: center;
}

.fas {
    position: relative;
    width: 50px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: var(--col-bg-light);
    margin-right: 10px;
}

.logout {
    position: relative;
    bottom: 0;
}

footer {
    background-color: var(--col-bg-light);
    padding: 40px 0;
    text-align: center;
    color: var(--col-text-faded);
    margin-top: 40px;
    box-shadow: 0 -4px 8px var(--col-shadow);
}

footer p {
    font-size: 14px;
}



/* Browse page */

.tag-filter input[type="checkbox"] {
    display: none;
}
  
.tag-filter span {
    display: inline-block;
    padding: 4px;
    border: 1px solid var(--col-border);
    border-radius: 0.5em;
    margin: 4px;
    cursor: pointer;
    color: var(--col-text-faded);
    box-shadow: 2px 2px 1px 0px var(--col-shadow);
}

.tag-filter span:hover {
    background-color: var(--col-bg-highlight);
    color: var(--col-text);
}
  
.tag-filter input[type="checkbox"]:checked + span {
    background-color: var(--col-bg-selected);
    color: var(--col-text);
}

.tag-puck {
    display: inline-block;
    padding: 4px;
    border: 1px solid var(--col-border);
    border-radius: 0.5em;
    margin: 4px;
    color: var(--col-text);
    box-shadow: 2px 2px 1px 0px var(--col-shadow);
    background-color: var(--col-bg-selected);
    
}

.clear-tags-button {
    display: inline-block;
    padding: 4px;
    border: 1px solid var(--col-border);
    border-radius: 0.5em;
    margin: 4px;
    color: var(--col-text);
    box-shadow: 2px 2px 1px 0px var(--col-shadow);
    background-color: var(--col-bg-selected);
    cursor: pointer;
}

.clear-tags-button:hover {
    background-color: var(--col-bg-highlight);
    color: var(--col-text);
}